{% extends 'adminatortemplate.html.twig' %}
{% block titre %}Actualites{% endblock %}
{% block page_title %} > Les actualités les plus récentes{% endblock %}
{% block corps %}

    <div class="layers w-100 h-100">

        <div class="layer w-100 fxg-1 scrollable pos-r ps ps--active-y">
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 1</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>
                </div>
            </div>
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 2</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>
                </div>
            </div>
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 3</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>
                </div>
            </div>
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 4</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>
                </div>
            </div>
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 5</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>

                </div>
            </div>
            <div class="peers fxw-nw ai-c p-20 bdB bgc-white bgcH-grey-50 cur-p">
                <div class="peer">
                    <img src="{{ asset('cover_image.jpg') }}" class="rounded float-left" alt="..." width="100" height="100"/>
                </div>
                <div class="peer peer-greed pL-20">
                    <h6 class="mB-0 lh-1 fw-400">ACTUALITÉ 6</h6>
                    <p>Description</p>
                    <small class="lh-1 c-green-500">Source</small><br/>
                    <a href="#">>>Article</a>
                </div>
            </div>


        </div>

    </div>
    <br>
    <nav aria-label="Page navigation example float-right">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
